@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
.navbar{
    width: 100%;
    color: whitesmoke;
    background-color: white;
    height: 70px;
}
.navbar .nav-contain{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo{
    align-items: left;
}
.main-logo{
    width: 200px;
}
nav{
    display: flex;
}
.navElements{
    position: relative;
}
.navmenu{
    vertical-align: middle;
}
td a{
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
    color: black;    
}
.searchBox{   
    position: relative;   
    width: 300px;
    border: 4px solid whitesmoke;
    border-radius: 50px;
    padding: 0px 10px;
}
.searchElements{    
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    padding: 0px 5px;
    width: 100%;
}
.search:focus{
    outline: none;
}

/* Global CSS */
.container{
  margin: auto;
  max-width: 1600px;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}
h1{
    font-size: 40px;
}
p {
  margin: 10px 0;
}

/* Navbar */

.navbar {
  width: 100%;
  color: whitesmoke;
  background-color: white;
  height: 70px;
}
.navbar .nav-contain {
  /* max-width: 1200px; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
nav {
  display: flex;
}
.navElements {
  position: relative;
}
.navmenu {
  vertical-align: middle;
}
td a {
  text-decoration: none;
  font-size: 17px;
  margin: 0px 10px;
}
.searchBox {
  position: relative;
  width: 300px;
  border: 4px solid whitesmoke;
  border-radius: 50px;
  padding: 0px 10px;
}
.searchElements {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search {
  border: none;
  padding: 0px 5px;
  width: 100%;
}
.search:focus {
  outline: none;
}

.material-icons {
  vertical-align: middle;
}

/* Section Info */

#home-info {
    margin-top: 20px;
    height: 450px;
}
#home-info h2 p {
    
    margin-bottom: 40px;
}

#home-info img {
  float: right;
  width: 50%;
  /* background: url(/img/Team\ of\ programmers\ working\ on\ software.jpg)
    no-repeat center center/cover; */
}

#home-info .info-content {
  float: left;
  width: 50%;
  height: 100%;
  text-align: justify;
  padding: 30px 30px;
  overflow: hidden;
}
header{
    box-shadow:  5px 5px 10px #dcdcdc,
             -5px -5px 10px #e4e4e4;
}
.text-info{
    float: left;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    text-align: justify;
}